h3 {
    margin: 2px;
}

#news_div {
    margin-left: 30px;
    border-bottom: 1px dotted #ABE1B0;
}

#left_content #content {
    margin: 40px;
}

#left_content #content p {
    font-size: 14px;
}

#left_content #content #programming:link, #left_content #content #programming:visited {
    color: #ED1C24;
    text-decoration: none;
}

#left_content #content #programming p {
    font-size: 25px;
}

#left_content #content #news {
    color: #ED1C24;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#championship {
    font-size: 25px !important; 
    font-weight: bold;
    text-align: center;
    color: #f57215;
}

#site {
    text-align: center;
}

#site a{
    color: #f57215;
    text-decoration: none;
    font-size: 16px;
}
