<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
    <title>3ª Semana de Engenharia de Controle e Automação do IFF - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/style.css"/>    
    {% block extra_style %}
    {% endblock extra_style %}
  </head>
  <body>
    <div id="all">
      <div id="left_content">
        <div id="logo">
        </div>
        <div id="menu">
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
        <div id="content">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
      <div id="right_content">
        <div id="registration">
        </div>
        <div id="sponsorship">
        </div>
        <div id="support">
        </div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
