{% extends "base.html" %}

{% block title %}
  Página Inicial
{% endblock title %}

{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/style/index.css"/>
{% endblock extra_style %}

{% block content %}
  <p>A Semana de Engenharia de Controle e Automação é um evento que surgiu em 2008, fruto de uma parceria entre os alunos e a coordenação do curso, tornando-se ao longo de sua realização uma importante e esperada data no calendário acadêmico do INSTITUTO FEDERAL FLUMINENSE.</p>
  <p>O encontro tem sido apoiado pelo IFF CAMPUS Campos-Centro e empresas parceiras. Com o crescimento do evento a cada ano, a ousadia e a inovação serão características importantes, incluindo em sua programação a Mostra Tecnológica com a participação de empresas convidadas.</p>
  <p>A 3ª Semana de Engenharia apresenta-se no ano de 2010 com o tema “Controle e Automação sem Limites”, reafirmando que o controle e a automação estão presentes nos mais diversos ramos do conhecimento humano, desde a medicina até a exploração espacial.</p>
  <p>Outro aspecto relevante é a integração com Instituições de Ensino que oferecem cursos de Engenharia, permitindo aos estudantes a oportunidade de reflexão e aprofundamento de temas determinantes para a sua futura inserção no mundo do trabalho.<p>
  <a href="{{ MEDIA_URL }}/others/programação.pdf" id="programming"><p>* Clique aqui para ver a programação *</p></a>
  
  <p id="news">Novidades</p>
  
  {% for news in latest_news %}
    <div id="news_div">    
      <h3>{{ news.title }}</h3>
      <p>{{ news.news_date|date:"d/m/Y" }}</p>
      <p>{{ news.content }}</p>
    </div>
  {% endfor %}
  <p><a href="/news/">Ver todas</a></p>
  <p id="championship">Campeonato de Robótica</p>
  <p id="site"><a href="http://www.ifftronic.blogspot.com" target="_blank">http://www.ifftronic.blogspot.com</a></p>
  
{% endblock content %}
